*{margin: 0;
padding: 0;
box-sizing: border-box;}
h1{color: green;
text-align: center;
margin-top: 20px;
margin-bottom: 100px;}
form{text-align: center;}
.form1, .form2, .form3{margin-bottom: 20px;
margin-left: 20px;}
.form1:hover{background-color: gray;}
.form2:hover{background-color: gray;}
.form3:hover{background-color: gray;}